.register-class {
  padding-top: 10%;
  padding-left: 45%;
  display: flex;
  font-family: "Comic Sans MS", cursive, sans-serif;
  .form-control {
    width: 150%;
  }
  .button-flex {
    padding-left: 20%;
    .instructor-radio {
      padding-right: 10px;
    }
    .trainee-radio {
      padding-left: 10px;
    }
    input[type="radio"] {
      margin: 10px;
    }
  }
  .login-button {
    padding-left: 50%;
    padding-top: 5%;
    button {
      width: 100%;
    }
  }
}
