.header-class {
  display: flex;
  background-color: purple;
  font-family: "Comic Sans MS", cursive, sans-serif;
  .item1 {
    padding: 1px;
  }
  .item2 {
    font-weight: bolder;
    padding: 50px;
    color: white;
    font-size: 500%;
  }
}
