.Login-page {
  padding-left: 45%;
  display: flex;
  font-family: "Comic Sans MS", cursive, sans-serif;
  .email-input {
    display: flex;
    flex-direction: row;
  }
  .login-button {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
